body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: cornflowerblue;
}
#campo-de-jogo {
  background-color: rgb(9, 3, 48);
  height: 600px;
  width: 600px;
}
#nave {
  transform: scaleX(-1); /*comando para espelhar a imagem*/
  position: relative;
  width: 80px;
  left: 20px;
  top: 250px;
}
.tiro{
  position: relative;
  width: 35px;
  left: 20px;
  top: 235px;
  background-image: url("/img/laser.png");
}

/*continuar aula 4*/


